<section fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start" style="padding:10px; height: 100%; overflow: auto; flex: 1 1 0%;">
    <div class="data-loading-shade" *ngIf="isLoading"><mat-spinner></mat-spinner></div>
    <section fxFlex="none">
        <h1 style="margin:0px">{{(esEditar)?'Editar':'Nuevo'}}</h1>
    </section>
    <section fxFlex="none" fxLayout="row" [formGroup]="variableForm">
        <mat-form-field fxFlex="50" style="padding-right:5px;" >
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" required>
            <mat-error *ngIf="variableForm.get('nombre').hasError('required')">Este campo es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="50">
            <mat-label>Valor</mat-label>
            <input matInput formControlName="valor">
        </mat-form-field>
    </section>
    <section fxFlex *ngIf="esEditar">
        <span style="font-weight:bold;">Editado por:</span>
        <mat-divider style="margin-bottom:5px;"></mat-divider>
        <div *ngIf="usuario" class="editado-por" >{{usuario.name}}</div>
    </section>
    <section fxFlex="none" fxLayout="row">
        <div fxFlex></div>
        <div fxFlex="none">
            <button mat-button (click)="close()">Cancelar</button>&nbsp;
            <button mat-raised-button color="primary" [disabled]="!variableForm.valid" (click)="guardarVariable()"><mat-icon>save</mat-icon> Guardar</button>
        </div>
    </section>
</section>