<section fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start" style="padding:10px; height: 100%; overflow: auto; flex: 1 1 0%;">
    <div class="data-loading-shade" *ngIf="isLoading"><mat-spinner></mat-spinner></div>
    <section fxFlex="none" fxLayout="row" >
        <mat-card fxFlex>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex fxLayout="row wrap">
                    <mat-form-field fxFill appearance="outline">
                        <mat-label>Buscar</mat-label>
                        <input matInput [(ngModel)]="searchQuery" (keyup.escape)="cleanSearch()" (keyup.enter)="applyFilter()" placeholder="Buscar">
                        <button matSuffix *ngIf="searchQuery" mat-icon-button (click)="cleanSearch()" [attr.aria-label]="'Clean Query'" [attr.aria-pressed]="'cleanQuery'">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div fxFlex="none" fxFlex.xs="100">
                    <div fxFlex></div>
                    <section class="search-button">
                        <button mat-raised-button color="accent" (click)="applyFilter()">
                            <mat-icon>search</mat-icon> Buscar
                        </button>
                    </section>
                </div>
            </div>
        </mat-card>
    </section>
    <section fxFlex fxLayout="row">
        <mat-card fxFlex fxLayout="column" >
            <div fxFlex="none" fxLayout="row">
                <div fxFlex></div>
                <div fxFlex="none">
                    <button mat-raised-button color="info" (click)="mostrarFormVariable()"><mat-icon>add_circle</mat-icon> Nueva Variable</button>
                </div>
            </div>

            <div fxFlex fxLayout="row raw" style="overflow: auto;">
               <div *ngFor="let variable of dataSource" fxFlex="33" style="padding:3px;">
                    <mat-card class="variable" fxLayout="column">
                        <div fxFlex="none" fxLayout="row">
                            <span class="usuario-label" fxFlex="none">Editado:</span><span class="usuario-value" fxFlex>{{variable.usuario.name}}</span>
                        </div>
                        <div fxFlex class="variable-body">
                            {{variable.nombre}} => {{(variable.valor)?variable.valor:'null'}}
                        </div>
                        <div fxFlex="none" class="variable-action" fxLayout="row">
                            <div fxFlex></div>
                            <div fxFlex="none">
                                <button mat-raised-button (click)="mostrarFormVariable(variable.id)"><mat-icon color="primary">edit</mat-icon> Editar</button>
                                &nbsp;
                                <button mat-raised-button (click)="eliminarVariable(variable.id)"><mat-icon color="warn">delete</mat-icon> Eliminar</button>
                            </div>
                        </div>
                    </mat-card>
               </div>
            </div>

            <div fxFlex="none">
                <mat-paginator #paginator [pageSize]="pageSize" [pageIndex]="currentPage" [length]="resultsLength" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons (page)="pageEvent = loadListadoVariables($event)"></mat-paginator>
            </div>
        </mat-card>
    </section>
</section>